http: 
  id: 0 
  locations: '1,9,10,26,27'
  tag: default
  isSuspended: 0
  name: default
  intervals: '1,1,1,1,1'
  type: http
  url: 
  timeout:
fullpage:
  id: 0
  enabled: 'YES'
  locations: '80,77'
  tag: 
  name:
  type: fullpageload
  url:
